.cart-list  {
  padding: 8rem 1rem 8rem 1rem;
}

.separator  {
  border: 1px solid #87A8A4;
  height:  1px;
}

.cart-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(53, 53, 53);
  padding: 1rem;
  background-color: #ebdfd2;
}

.cart-bottom p, hr {
  margin-bottom: 0.5rem;
}

.cart-bottom span {
  font-weight: 700;
}