.book-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f0eae3;
}

.book-top {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 225px;
  border-radius: 5px;
  cursor: pointer;
}

.visible {
  overflow: scroll;
}

.hidden .book-cover {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hidden .book-cover:hover {
  color: #0f5750;
  opacity: .5;
}

.book-cover {
  object-fit: contain;
  width: 100%;
  height: 190px;
}

.book-synopsis-label {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(53, 53, 53);
}

.book-synopsis {
  margin: 0;
  font-size: 0.7rem;
  background-color: #87A8A4;
  border-radius: 5px;
  padding: 0.5rem;
  line-height: 1rem;
}

.book-synopsis-text {
  padding: 0.5rem;
  color: rgb(53, 53, 53);
  text-align: left;
}

.book-title {
  font-size: 1rem;
  color: rgb(53, 53, 53);
  font-weight: 700;
  margin: 0.5rem 0;
}

.book-price {
  font-size: 1.5rem;
  color: #87A8A4;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 567px) {
  .book-container {
    width: 100%;
  }

  .book-top {
    height: 300px;
  }

  .book-synopsis {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .book-title {
    font-size: 1.5rem;
  }

  .book-cover {
    height: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .book-container {
    width: 40%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .book-container {
    width: 25%;
  }
}